.select {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  margin-right: 25px;

  &.active {
    flex-grow: 2;
    max-width: 50%;

    & .select__input {
      border-radius: 5px 5px 0 0;
      // width: 100%;
      animation: open-input 400ms forwards ease-in-out;
    }
  
    & > .select__icon {
      transform: rotateX(180deg);
    }
  
    & > .select__tags {
      display: flex;
      opacity: 1;
      border-radius:  0 0 5px 5px;
      // width: 100%;
      overflow-x: auto;
      animation: open-input 400ms forwards ease-in-out;

      &::-webkit-scrollbar {
        width: 10px;
        border-radius: 0 0 5px 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0 0 5px 5px;
      }

      &--blue::-webkit-scrollbar { background: scale-color($color-primary, $lightness: 10%); }
      &--green::-webkit-scrollbar { background: scale-color($color-secondary, $lightness: 10%); }
      &--red::-webkit-scrollbar { background: scale-color($color-tertiary, $lightness: 10%); }

      &--blue::-webkit-scrollbar-thumb { background: scale-color($color-primary, $lightness: 30%); }
      &--green::-webkit-scrollbar-thumb { background: scale-color($color-secondary, $lightness: 30%); }
      &--red::-webkit-scrollbar-thumb { background: scale-color($color-tertiary, $lightness: 30%); }
    }
  }

  &__icon {
    position: absolute;
    color: #FFF;
    top: 22px;
    right: 36px;
    font-size: 22px;
    z-index: 2;
  }
    
  &__input {
    box-sizing: border-box;
    height: 69px;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    color: white;
  
    &:focus {
      outline: none;

      &::placeholder {
        opacity: 0.4;
      }
    }
  
    &::placeholder {
      color: #fff;
      opacity: 1;
    }

    &--blue { background: $color-primary; }
    &--green { background: $color-secondary; }
    &--red { background: $color-tertiary; }
  }

  &__tags {
    position: absolute;
    z-index: 10;
  
    display: none;
    flex-direction: column;
    flex-wrap: wrap;

    box-sizing: border-box;
    border-radius: 5px;
    max-height: 320px;
    margin-top: 0;
    padding: 20px;
  
    font-size: 18px;
    font-weight: 400;
    color: #fff;
  
    opacity: 0;
    transition: all 250ms;

    &--blue { background: $color-primary; }
    &--green { background: $color-secondary; }
    &--red { background: $color-tertiary; }
  }
  
  &__tag {
    box-sizing: border-box;
    padding: 0 5px 10px 5px;
    list-style: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@keyframes open-input {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}